@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px;
    text-align: center;
}

.coolBtn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0 0 10px var(--secondary-color);
    border-radius: 5px;
    flex-grow: 1;
    max-height: 500px;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.coolBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--secondary-color);
}

.coolBtn:active {
    transform: scale(1);
    box-shadow: 0 0 10px var(--secondary-color);
}

.coolBtn:focus {
    outline: none;
}

.coolBtn:disabled {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0 0 10px var(--secondary-color);
    border-radius: 5px;
    flex-grow: 1;
    max-height: 500px;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
}

.coolBtn:disabled:hover {
    transform: scale(1);
    box-shadow: 0 0 10px var(--secondary-color);
}

.coolBtn:disabled:active {
    transform: scale(1);
    box-shadow: 0 0 10px var(--secondary-color);
}

.coolBtn:disabled:focus {
    outline: none;
}

.driveContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.dice:active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
